:root{
  --accent-color: #263238;
  --bg-color:#F5F5F5;
  --text-color:#8F95A5;
  --title-color:#000;
}



/* Global */
html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}
*,
*::after,
*::before{
  box-sizing:inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Arial",sans-serif;
  font-size: 24px;
  line-height: normal;
  background-color: #fff;
  color: #222;
}

img{
  max-width: 100%;
  height: auto;
}


/* Container */

.container{
  width: 100%;
  max-width: 1400px;
  padding: 0 30px;
  margin: 0 auto;
}

.text {
  margin: 0;
  font-size: 16px;
  line-height: normal;
  color: var(--text-color);
}
.title {
  margin: 0;
  font-weight: 600;
  line-height: 80px;
}
.btn{
  /* display: inline-block; */
  border:transparent;
  line-height: normal;
  background: var(--accent-color);
  color:#fff;
  transition: color 0.3s ease,
  background-color 0.3s ease;
}
.link{
  text-decoration: none;
  transition: color 0.3s ease,
  opacity 0.6;
}
.link:hover{
  color:var(--text-color);
  opacity: 0.8;
}
.link:active{
  opacity: 0.6;
}


/* HEADER */
.site-header {
  padding-top: 55px;
  padding-bottom: 51px;
}
.site-header-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.site-header-logo {
  display: flex;
}
.site-header-logo-img{
  display: inline-block;
}
.nav-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style: none;
  font-style: 20px;
}
.nav-item:not(:last-child){
  margin-right: 30px;
}
.nav-link{
  color: var(--accent-color)
}
.site-header-btn{
  background-color: #fff;
  color: var(--title-color);
  padding: 17px 57px;
  border-radius: 5px;
  border: 1px solid var(--accent-color);
  font-size: 24px;
  line-height: normal;
  text-transform: capitalize;
  transition: background-color 0.4s ease,
  color 0.4s ease,
  opacity 0.4s ease;
}
.site-header-btn:hover{
  background-color: var(--accent-color);
  opacity: 0.8;
  color:#fff;
}
.site-header-btn:active{
  opacity: 0.6;
}


/* Main */


.site-main{
  flex-grow: 1;
}
.learning-languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 92px;
}
.about-learning-languages{
  position: relative;
}
.lighting-img{
  position: absolute;
  left: 400px;
  top: 100px;
}
.learning-lenguages-title {
  font-size: 64px;
  line-height: 80px;
  font-weight: 600;
  color:var(--title-color);
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}
.learning-lenguages-title::after{
  display: flex;
  margin-left: 50px;
  margin-top: 55px;
  background-image: url(../img/lighting.svg);
  background-size: cover;
  width: 85px;
  height: 85px;
  content:"";
}
.learning-lenguages-text {
  font-size: 24px;
  color: var(--text-color);
  line-height: normal;
  margin: 0;
  margin-bottom: 60px;
}

.learning-lenguages-btn {
  font-size: 36px;
  padding: 32px 117px;
  border-radius: 15px;
}
.btn:hover{
  background-color: var(--accent-color);
  color:#fff;
  cursor: pointer;
  opacity: 0.6;
}
.btn:active{
  opacity: 0.4;
}
.learning-lenguages-img {
  display: flex;
}

/* SKILLS */
.skills{
  margin-bottom: 252px;
}

.skills-title {
  text-align: center;
  margin-bottom: 92px;
}

.grid-container {
  display: grid;
  grid-template-areas:
  'menu main right'
  'menu footer footer';
  grid-template-columns: 400px 1fr;
  gap: 18px;
}
/* .grid-container > div {
  padding: 20px 20px;
} */


.grid-heading {
  font-size: 30px;
  color:var(--accent-color);
}

.speaking {
  background-color: var(--bg-color);
  border-radius: 10px;
  padding: 35px 23px;
  padding-bottom: 92px;
  grid-area: menu;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.skills-img {
  display: block;
  margin: 0;
}

.speaking-text{
  max-width: 347px;
  margin-bottom: 35px;
  margin-bottom: auto-;
}

.skills-btn {
  padding: 15px 50px;
  border-radius: 5px;
}

.writing {
  grid-area: main;
  background-color: var(--bg-color);
  border-radius: 10px;
  padding: 0 44px 42px;
}

.writing-text {
  margin-bottom: 35px;
}
.reading {
  grid-area: right;
  background-color: var(--bg-color);
  border-radius: 10px;
  padding: 43px;
}
.reading-img {
}
.reading-title {
  font-size: 30px;
  color: var(--accent-color);
}
.reading-text {
  margin-bottom: 35px;
}

.listening{
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color: var(--bg-color);
  border-radius: 10px;
  padding: 43px;
}
.listening-title {
}
.listening-text {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color);
}

/* ABOUT-US */
.about-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 188px;
}

.about-us-title {
  font-size: 48px;
  margin-bottom: 23px;
}
.about-us-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-us-text {
  max-width: 635px;
  width: 100%;
}
.description{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-number{
  font-size: 48px;
  color: #2A3246;
}

/* PRICING */

.pricing {
  margin-bottom: 257px;
  flex-wrap: wrap;
  position: relative;
}
.pricing-title {
  text-align: center;
  margin-bottom: 57px;
}
.pricing-img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  margin-bottom: auto;
}
.self-study{
  max-width: 400px;
  min-height: 580px;
  /* height: 100%; */
  width: 100%;
}
.self-study:not(:last-child){
  margin-right: 100px;
}
.about-pricing {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.about-pricing-title{
  font-size: 30px;
  line-height: 48px;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.about-pricing-text {
  font-size: 20px;
  line-height: 30px;
  color:var(--text-color)
}

/* CONTACT-US */
.contact-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 133px;
  border-bottom: 1px solid #C4C4C4;
}
.contact-us-img {
}
.contact-us-intro {
  max-width: 780px;
  width: 100%;
}
.contact-us-title {
  font-size: 48px;
  color:var(--title-color);
  margin-bottom: 37px;
}
.contact-us-text {
  font-size: 20px;
  line-height: 30px;
  color:var(--text-color);
  margin-bottom: 52px;
}
.email-form{
  max-width: 780px;
  width: 100%;
  display: flex;
}
.email-input {
  width: 70%;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  border: 1px solid var(--text-color);
  border-radius: 10px;
  text-transform: capitalize;
  padding: 23px 33px;
  color: var(--accent-color);
  margin-right: 12px;
}
.contact-us-btn{
  padding: 21px 81px;
  font-size: 20px;
  line-height: 30px;
  border-radius: 10px;
  color:#fff;
  background-color: var(--accent-color);
  cursor: pointer;
}

/* FOOTER */
.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;
  flex-wrap: wrap;
}
.footer-list{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}
.footer-item:not(:last-child){
  margin-right: 20px;
}
.footer-item{
  position: relative;
}
.footer-item:not(:first-child):before{
  display: flex;
  position: absolute;
  top: 12px;
  left: -15px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--text-color);
  content:"";
}
.footer-link{
  font-size: 24px;
  line-height: 36px;
  color: var(--text-color);
}